/* StatusIndicator.module.scss */

.statusIndicator {
  display: flex;
  align-items: center;
}

.ledLight {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem; /* Add spacing as needed */
}

.statusLabel {
  color: white;
  font-size: small;
}
